{% extends 'base.html.twig' %}

{% block title %}Liste des genres !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1>Liste des genres </h1>
<div class="example-wrapper">

    <ul>
    {% for genre in genres %}
        <li><code><a href="{{path('show_genre', {id: genre.id} )}}">{{genre.name}}</a></code></li>
        {% endfor %} 
    </ul>
</div>
{% endblock %}
