{% extends 'back/layout_back.html.twig' %}

{% block title %}Nouvelle saison{% endblock %}

{% block body %}
    <h1>Nouvelle saison de la série {{ movie.title }} </h1>

    {{ include('back/season/_form.html.twig') }}

    <a href="{{ path('app_back_season_index', {'id': movie.id}) }}" class="btn btn-info">retour</a>
{% endblock %}
